### Project ###
**/bin/
**/target/
**/gen/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDE ###
.editorconfig
.idea
*.iws
*.iml
*.ipr

### OpenAPI Generator ###
.openapi-generator-ignore
**/.openapi-generator/*
/src/README.md
/src/pom.xml
